.sidebar {
  width: 240px;
  height: 100vh;
  background: #0a0a0a;   /* solid black */
  padding: 25px;
  position: fixed;
  border-right: 1px solid #222;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
  letter-spacing: 1px;
}

.menu {
  list-style: none;
}

.menu li {
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #cfcfcf;
  transition: 0.3s;
}

.menu li:hover {
  background: #2a2a2a;
  color: white;
}

.menu .active {
  background: white;
  color: black;
  font-weight: bold;
}